[Unit]
Description=A WireGuard Dashboard
After=syslog.target network.target
Wants=wg-quick.target

[Service]
Type=forking
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/src
ExecStart=__INSTALL_DIR__/venv/bin/gunicorn --config __INSTALL_DIR__/src/gunicorn.conf.py
ExecReload=/bin/kill -s HUP $MAINPID
PIDFile=__INSTALL_DIR__/src/gunicorn.pid
StandardOutput=append:/var/log/__APP__/__APP__.log
StandardError=inherit
Environment=CONFIGURATION_PATH=__INSTALL_DIR__

# Minimal sandboxing for debugging sudo issues
# Details for these options: https://www.freedesktop.org/software/systemd/man/systemd.exec.html
NoNewPrivileges=no
PrivateTmp=no
PrivateDevices=no
RestrictNamespaces=no
RestrictRealtime=no
DevicePolicy=auto
ProtectSystem=no
ProtectControlGroups=no
ProtectKernelModules=no
ProtectKernelTunables=no
LockPersonality=no
# Remove all system call filtering to debug
#SystemCallFilter=~@clock @debug @module @mount @obsolete @reboot @swap

# Remove capability restrictions for debugging
# Doc: https://man7.org/linux/man-pages/man7/capabilities.7.html
#CapabilityBoundingSet=CAP_DAC_READ_SEARCH CAP_NET_ADMIN CAP_NET_RAW CAP_SYS_ADMIN CAP_SETUID CAP_SETGID
#AmbientCapabilities=CAP_DAC_READ_SEARCH CAP_NET_ADMIN CAP_NET_RAW CAP_SYS_ADMIN CAP_SETUID CAP_SETGID

# Exception to ProtectSystem - allow writes to WireGuard config and application directories
ReadWritePaths=/etc/wireguard __INSTALL_DIR__

[Install]
WantedBy=multi-user.target